
.messagesArea {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 15px;
    padding: 5%;
    overflow-y: scroll;
    overflow-x: none;
  }
  
  .messageRow {
    font-family: 'inter';
    font-weight:normal;
    max-width: 70%;
    font-size: 20px;
    line-height: 2;
    padding: 10px 14px;
    border-radius: 20px;
    color: #E0E0E0;
  }
  
  .sent {
    align-self: flex-end;
    background: linear-gradient(
        90deg,
        rgba(0, 255, 133, 0.4),
        rgba(0, 153, 80, 0.4)
      ); 
    border: none;
    border-top-right-radius: 4px;
  }
  
  .received {
    align-self: flex-start;
    background: linear-gradient(
        90deg,
        rgba(223, 158, 37, 0.6),
        rgba(200, 170, 110, 0.6)
      ); 
    border: none;
    border-top-left-radius: 4px;
  }
  
  .emptyMessages {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a1a1a1;
    font-size: 20px;
    font-family: 'inter';
    font-weight:normal;
  }

.messagesArea {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 159, 28, 0.3) rgba(18, 18, 18, 0) ;
    
}
.messagesArea::-webkit-scrollbar {
    width: 8px;
}
.messagesArea::-webkit-scrollbar-track {
    background: transparent;
}
  