.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 38px;
  height: 100vh;
  background: linear-gradient(
    135deg,
    var(--clr-primary-t-20),
    var(--clr-neutral-dark-t-12),
    var(--clr-secondary-t-20)
  );
}

.title {
  display: flex;
  gap: 5px;
  text-align: center;
}

.title h1 {
  background: linear-gradient(90deg, var(--clr-primary), var(--clr-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 30px;
}

.border {
  border: 3px solid var(--clr-primary-t-20);
  background: linear-gradient(
    135deg,
    var(--clr-bold-t-20),
    var(--clr-primary-t-20)
  );
  padding: 70px;
  border-radius: 35px;
  color: var(--clr-neutral-light);
  min-width: 570px;
}

label:has(input:not([type="checkbox"])) {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-size: 14px;
  font-weight: bold;
}

.form p {
  text-align: center;
}

input {
  background-color: var(--clr-neutral-dark-t-60);
  padding: 14px 24px;
  border: none;
  border-radius: 10px;
  color: var(--clr-neutral-light);
  border: 1px solid transparent;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--clr-neutral-light-t-60);
  font-size: 12px;
}

label:has(input[type="checkbox"]) {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: center;
}

input[type="checkbox"] {
  transform: scale(1.1);
}

label span {
  color: var(--clr-primary-t-60);
  font-weight: bold;
}

p {
  font-size: 11px;
}

span {
  cursor: pointer;
}

p span {
  color: var(--clr-secondary);
  font-weight: bold;
  font-size: 12px;
}

button {
  background-color: var(--clr-bold-t-25);
  color: var(--clr-neutral-light);
  border: none;
  border-radius: 10px;
  padding: 14px;
  transition: background-color 0.2s ease-out;
}

button:hover {
  background-color: var(--clr-bold-t-60);
  transition: background-color 0.2s ease-in;
}
button:focus-within {
  background-color: var(--clr-bold-t-50);
}

.link {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s ease-out;
}
.link:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease-in;
}

.controls {
  padding: 34px 70px;
}

.controls-title {
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}

.paddles-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 10px 120px;
}
.paddles-container p {
  margin-bottom: 7px;
}
.left {
  color: var(--clr-primary-t-60);
}
.right {
  color: var(--clr-secondary);
}

.submit-btn {
  font-weight: bold;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-password {
  font-size: 12px;
  color: var(--clr-primary-t-60);
}

input:focus:invalid {
  border: 1px solid var(--clr-invalid-t-50);
  transition: border .2s ease-in;
}

input:focus:valid {
    border: 1px solid var(--clr-valid-t-50);
    transition: border .2s ease-in;
}

.tfa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.lock {
  position: relative;
  padding: 70px;
  background-color: rgba(56, 102, 65, .25);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.lock img {
  position: absolute;
  top: 38px;
}

.tfa p {
  font-size: 12px;
}
.tfa-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.tfa-form button {
  width: 100%;
  font-weight: 500;
}
.tfa-form button.disabled {
  cursor: not-allowed;
  background-color: var(--clr-bold-t-20);
  opacity: .5;
}
.box {
  width: 54px;
  height: 71px;
  background-color: var(--clr-neutral-dark-t-60);
  color: var(--clr-neutral-light-t-60);
  border: 1px solid transparent;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 32px;
  flex-direction: column;
  transition: border .2s ease-out;
}

.box:hover {
  border: 1px solid var(--clr-secondary);
  transition: border .2s ease-in;
}

.border-fill {
  color: var(--clr-secondary);
  border:1px solid var(--clr-secondary);
}

.tfa-input {
  width: 100%;
  display: flex;
  gap: 10px;
}
.hidden-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.box-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}